[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
azure-storage-blob = "==2.1.0"
arrow = "*"
psycopg2-binary = "*"

[dev-packages]
flake8 = "*"
coverage = "*"

[requires]
python_version = "3.8"
