[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
azure-storage-blob = "*"
arrow = "*"
psycopg2-binary = "*"
factory-boy = "*"
pytest-django = "*"
kombu = "*"
django-prometheus = "*"
django-admin-rangefilter = "*"

[dev-packages]
flake8 = "*"
coverage = "*"
ipdb = "*"
black = "==20.8b1"
mypy = "*"
pytest = "*"
ptpython = "*"

[requires]
python_version = "3.8"
